extends layout

block style
	link(rel='stylesheet', href='../stylesheets/login.css')

block content
  
	.login
		.login-triangle
		h2.login-header Log in
		form.login-container(action = "/login" method = "POST")
			p
				input(type='email', placeholder='Email', name='email')
			p
				input(type='password', placeholder='Password', name='password')
			p
				input(type='submit', value='Log in')
